<div class="modal-wrapper">
  <h1 mat-dialog-title>Editare date personale</h1>

  <div mat-dialog-content>
    <form [formGroup]="employeeForm" class="form">
      <!-- Employee First Name -->
      <mat-form-field>
        <input matInput formControlName="FirstName" placeholder="Prenume">
        <mat-error
          *ngIf="employeeFormControls.FirstName.invalid && (employeeFormControls.FirstName.dirty || employeeFormControls.FirstName.touched)">
          <span *ngIf="employeeFormControls.FirstName.errors.required">Prenumele este
            obligatoriu</span>
        </mat-error>
      </mat-form-field>

      <!-- Employee Last Name -->
      <mat-form-field>
        <input matInput formControlName="LastName" placeholder="Nume">
        <mat-error
          *ngIf="employeeFormControls.LastName.invalid && (employeeFormControls.LastName.dirty || employeeFormControls.LastName.touched)">
          <span *ngIf="employeeFormControls.LastName.errors.required">Numele este
            obligatoriu</span>
        </mat-error>
      </mat-form-field>

      <!-- Employee Phone -->
      <mat-form-field>
        <input matInput formControlName="PhoneNumber" placeholder="Telefon">
      </mat-form-field>

      <mat-form-field class="password">
        <input matInput formControlName="Password" placeholder="Parola"
          [type]=" !hidePassword ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix class="show-password"
          (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="employeeFormControls.Password.invalid && (employeeFormControls.Password.dirty || employeeFormControls.Password.touched)">
          <span *ngIf="employeeFormControls.Password.errors.required">Parola este
            obligatorie</span>
        </mat-error>
      </mat-form-field>

      <!-- Employee Birthdate -->
      <mat-form-field>
        <mat-label>Data nașterii</mat-label>
        <input matInput [matDatepicker]="birthDate" formControlName="BirthDate">
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
      </mat-form-field>


    </form>



  </div>
  <div mat-dialog-actions class="action-buttons">
    <button mat-button (click)="closeDialog()">Anulează</button>
    <button mat-button (click)="updateEmployee()">Salvează</button>
  </div>
</div>