.modal-wrapper {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    flex-wrap: wrap;
}

textarea {
    max-height: 100px;
}

.example-chip-list {
    width: 100%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

::ng-deep mat-form-field {
    width: 300px;
}
