<div class="wrapper">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Utilizatori
        </mat-panel-title>
        <mat-panel-description>
          Administrarea utilizatorilor platformei
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-users></app-users>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Departamente
        </mat-panel-title>
        <mat-panel-description>
          Administrarea departamentelor
          <mat-icon>account_tree</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Funcții
        </mat-panel-title>
        <mat-panel-description>
          Administrarea funcțiilor
          <mat-icon>verified_user</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Servicii
        </mat-panel-title>
        <mat-panel-description>
          Administrarea serviciilor
          <mat-icon>design_services</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tehnologii
        </mat-panel-title>
        <mat-panel-description>
          Administrarea tehnologiilor
          <mat-icon>engineering</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datele companiei
        </mat-panel-title>
        <mat-panel-description>
          Administrarea datelor furnizorului de servicii
          <mat-icon>article</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

  </mat-accordion>
</div>