<div class="modal-wrapper">
  <h1 mat-dialog-title *ngIf="!hasDailyActivityId">Adăugare Activitate zilnică</h1>
  <h1 mat-dialog-title *ngIf="hasDailyActivityId">Editare Activitate zilnică</h1>
  <div mat-dialog-content>
    <form [formGroup]="dailyActivityForm" class="form">
      <!-- Daily activity date -->
      <mat-form-field>
        <mat-label>Alege data</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="date"
          formControlName="Date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>

        <mat-error
          *ngIf="dailyActivityControls.Date.invalid && (dailyActivityControls.Date.dirty || dailyActivityControls.Date.touched)">
          <span *ngIf="dailyActivityControls.Date.errors.required">Selectarea datei este
            obligatorie</span>
        </mat-error>
      </mat-form-field>

      <!-- Daily activity worked hours -->
      <mat-form-field>
        <input matInput formControlName="WorkedHours" placeholder="Număr ore: " type="number"
          max="12">
        <mat-error
          *ngIf="dailyActivityControls.WorkedHours.invalid && (dailyActivityControls.WorkedHours.dirty || dailyActivityControls.WorkedHours.touched)">
          <span *ngIf="dailyActivityControls.WorkedHours.errors.required">Introducerea numărului de
            ore este obligatorie</span>
          <span *ngIf="dailyActivityControls.WorkedHours.value > 12"> Nu poti ponta mai mult de 12
            ore / zi!</span>
        </mat-error>
        <mat-error>

          <span *ngIf="dailyActivityControls.WorkedHours.value > 12"> Nu poti ponta mai mult de 12
            ore / zi!</span>
        </mat-error>
        {{dailyActivityControls.WorkedHours.value}}
      </mat-form-field>

      <!-- Daily activity project -->
      <mat-form-field>
        <mat-label>Proiect</mat-label>
        <mat-select [(ngModel)]="selectedProjectId" formControlName="ProjectId" name="ProjectId">
          <mat-option *ngFor="let project of employeeProjects" [value]="project.projectId">
            {{project.name}}
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="dailyActivityControls.ProjectId.invalid && (dailyActivityControls.ProjectId.dirty || dailyActivityControls.ProjectId.touched)">
          <span *ngIf="dailyActivityControls.ProjectId.errors.required">Selectarea proiectului este
            obligatorie</span>
        </mat-error>
      </mat-form-field>

      <!-- Daily activity service -->
      <mat-form-field>
        <mat-label>Serviciul oferit</mat-label>
        <mat-select [(ngModel)]="selectedServiceId" formControlName="ServiceId" name="ServiceId">
          <mat-option *ngFor="let service of services" [value]="service.serviceId">
            {{service.name}}
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="dailyActivityControls.ServiceId.invalid && (dailyActivityControls.ServiceId.dirty || dailyActivityControls.ServiceId.touched)">
          <span *ngIf="dailyActivityControls.ServiceId.errors.required">Selectarea serviciului este
            obligatorie</span>
        </mat-error>
      </mat-form-field>

      <!-- Daily activity comment -->
      <mat-form-field>
        <mat-label>Comentariu: </mat-label>
        <textarea #message maxlength="512" matInput cdkTextareaAutosize formControlName="Comment"
          placeholder="Detalii activitate" rows="5"></textarea>
        <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
        <mat-error
          *ngIf="dailyActivityControls.Comment.invalid && (dailyActivityControls.Comment.dirty || dailyActivityControls.Comment.touched)">
          <span *ngIf="dailyActivityControls.Comment.errors.required">Introducerea comentariului
            este obligatorie</span>
        </mat-error>
      </mat-form-field>

    </form>
  </div>

  <div mat-dialog-actions class="action-buttons">
    <button mat-button (click)="closeDialog()">Anulează</button>
    <button mat-button *ngIf="!hasDailyActivityId" (click)="addDailyActivity()">Adaugă</button>
    <button mat-button *ngIf="hasDailyActivityId" (click)="updateDailyActivity()">Salvează</button>
  </div>
</div>