a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

mat-toolbar {
    background-color: #202456;
    color: #ffffff;
    height: 55px;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        .branding {
            display: flex;
            flex-direction: row;
            width: 50%;
            padding: 10px;

            .branding-image {
                img {
                    width: 120px;
                }
            }

            .branding-text {
                margin-left: 10px;
                padding-left: 10px;
                border-left: solid 1px #ffffff;
                font-size: 14px;
            }
        }

        .user-menu {
            display: flex;
            flex-direction: row;
            align-items: center;

            .user-notifications {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 5px;
            }

            .user-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-left: solid 1px #ffffff;
                font-size: 14px;
            }
        }
    }

    .icon {
        font-size: 18px;
        cursor: pointer;
    }

}
