.modal-wrapper,
.form {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    flex-wrap: wrap;
}


.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dates-selectors {
        .date-selector {
            margin: auto 10px
        }
    }
}

.wrapper {
    margin-top: 30px;
    margin-bottom: 50px;

    .title {
        display: flex;
        margin: 15px;
        justify-content: center;
    }

    table,
    mat-paginator {
        width: 95%;
        margin: auto;
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    tr.example-detail-row {
        height: 0;
    }

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    .example-element-row td {
        border-bottom-width: 0;
    }

    .example-element-detail {
        overflow: hidden;
        display: flex;
    }

    .example-element-diagram {
        min-width: 80px;
        border: 2px solid black;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 104px;
    }

    .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
    }

    .example-element-description {
        padding: 16px;
    }

    .example-element-description-attribution {
        opacity: 0.5;
    }

    .action-button {
        margin: 10px;
        min-width: 130px;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

}

.row {
    display: flex;
    justify-content: space-around;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
