.wrapper {
    background-image: url('src/assets/images/dm-how-to-go-paperless-header-image-4_0.png');
    height: calc(100% - 64px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;
    }

    mat-form-field {
        width: 100%;
        min-width: 300px;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;

        :first-child {
            margin-right: 15px;
        }
    }
}
