mat-nav-list {
    min-width: 250px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}
