<button mat-raised-button color="primary" (click)="openProviderModal()">Adaugă provider</button>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel class="provider-wrapper" *ngFor="let provider of providers">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{provider.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{provider.status}}
        <mat-icon *ngIf="!provider.isInactive">receipt_long</mat-icon>
        <mat-icon *ngIf="provider.isInactive">receipt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="provider">
      <div class="row">
        <div class="column">
          <mat-form-field>
            <input matInput placeholder="Țara: " required value="{{provider.country.name}}"
              disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Oraș: " required value="{{provider.city}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Adresă: " required value="{{provider.address}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Telefon: " required value="{{provider.phoneNumber}}"
              disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email: " required value="{{provider.email}}" disabled>
          </mat-form-field>

        </div>

        <div class="column">
          <mat-form-field>
            <input matInput placeholder="CIF: " required value="{{provider.cif}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="IBAN: " required value="{{provider.iban}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Banca: " required value="{{provider.bank}}" disabled>
          </mat-form-field>

        </div>
      </div>

      <div class="row action-button">
        <button mat-raised-button color="primary"
          (click)="openProviderModal(provider)">Editează</button>
      </div>

    </div>
  </mat-expansion-panel>
</mat-accordion>