.provider-wrapper {
    margin-top: 15px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}


.action-button {
    margin: 10px;
    min-width: 130px;
}

.provider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .row {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .column {
            width: 45%;
            display: flex;
            flex-direction: column;
            margin: 5px 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .provider {
        .row {
            .column {
                width: 100%;
            }
        }
    }
}
