<button mat-raised-button color="primary" (click)="openProviderModal()">Adaugă provider</button>

<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8"
  matSortActive="providerName" matSortDirection="asc">

  <!-- Provider Name Column -->
  <ng-container matColumnDef="providerName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Provider Country Column -->
  <ng-container matColumnDef="providerCountry">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Țara </th>
    <td mat-cell *matCellDef="let element"> {{element.country.name}} </td>
  </ng-container>

  <!-- Provider City Column -->
  <ng-container matColumnDef="providerCity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Oraș </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <!-- Provider Adress Column -->
  <ng-container matColumnDef="providerAdress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresa </th>
    <td mat-cell *matCellDef="let element"> {{element.adress}} </td>
  </ng-container>

  <!-- Provider Phone Column -->
  <ng-container matColumnDef="providerPhone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Număr Telefon </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <!-- Provider Email Column -->
  <ng-container matColumnDef="providerEmail">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Provider CIF Column -->
  <ng-container matColumnDef="providerCif">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CIF </th>
    <td mat-cell *matCellDef="let element"> {{element.cif}} </td>
  </ng-container>

  <!-- Provider IBAN Column -->
  <ng-container matColumnDef="providerIban">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> IBAN </th>
    <td mat-cell *matCellDef="let element"> {{element.iban}} </td>
  </ng-container>

  <!-- Provider BANK Column -->
  <ng-container matColumnDef="providerBank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Banca </th>
    <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
  </ng-container>

  <!-- Provider Status Column -->
  <ng-container matColumnDef="providerStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell class="action-buttons" *matCellDef="let element">
      <button mat-raised-button class="action-button" (click)="openProviderModal(element)">
        <mat-icon>edit</mat-icon>
        Editează
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 30, 60, 90, 120]"
  class="mat-elevation-z8">
</mat-paginator>