.wrapper {
    width: 90%;
    height: calc(100% - 55px);
    margin: auto;
}

mat-tab-group {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;

    mat-card {
        margin-top: 20px;
        padding-top: 5px;

        .form {
            display: flex;
            flex-direction: column;

            margin-top: 10px;
            flex-wrap: wrap;

            .row {
                display: flex;
                width: 100%;
                justify-content: space-evenly;

                .column {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    margin: 5px 10px;
                }


            }

        }
    }


}
