<div class="filters">
  <mat-form-field>
    <mat-label>Alege Proiect</mat-label>
    <mat-select [(ngModel)]="selectedProjectId" name="ProjectId"
      (selectionChange)="changeProject()">
      <mat-option *ngFor="let project of projects" [value]="project.projectId">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="dates-selectors">

    <mat-form-field class="date-selector">
      <mat-label>Data de început</mat-label>
      <input matInput [matDatepicker]="startDate" (dateInput)="onStartDateChange($event.value)"
        [value]="startAt.value" [disabled]="!selectedProjectId">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="date-selector">
      <mat-label>Data de sfârșit</mat-label>
      <input matInput [matDatepicker]="endDate" (dateInput)="onEndDateChange($event.value)"
        [value]="endAt.value" [disabled]="!selectedProjectId">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>

  </div>

</div>

<div class="wrapper">

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8"
    matSortActive="workedHours" matSortDirection="asc">

    <!-- Employee name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Employee Department -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Departament </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>

    <!-- Employee Function -->
    <ng-container matColumnDef="function">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Funcție </th>
      <td mat-cell *matCellDef="let element"> {{element.function}} </td>
    </ng-container>

    <!-- Employee Allocation Rate -->
    <ng-container matColumnDef="totalWorkedHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ore lucrate </th>
      <td mat-cell *matCellDef="let element"> {{element.totalWorkedHours}} </td>
    </ng-container>

    <!-- Employee Allocation Rate -->
    <ng-container matColumnDef="allocationRate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gradul de alocare </th>
      <td mat-cell *matCellDef="let element"> {{element.allocationRate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 30, 60, 90, 120]"
    class="mat-elevation-z8">
  </mat-paginator>
</div>