.modal-wrapper,
.form {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    flex-wrap: wrap;
}

textarea {
    max-height: 100px;
}
